#box1 {
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
}
#box2 {
    height: 50px;
    /* width: 50px; */
    width: 30%;
    background-color: yellow;
    margin-left: 10%;
    /* font-size: 2em; 2 times of parent's font size */
    width: 5em; /* 5 times of font-size of itself */
    font-size: 5rem; /* 5 times of the root element here html element */
}